#titulo{
    text-align: center;
    align-items: center;
    color: blue;
}

#tituloDos{
    text-align: center;
    align-items: center;
    color: red;

}

#contenedorPokemon{
    align-items: center;
}

#cardPokemon{
    width: 50%;
}

#enBlanco{
    height: 200px;
}